# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/src/Pages/Scanario3Page.css
/src/Pages/Scenario2Page.css
/src/Pages/Scenario2Page.jsx
/src/Pages/Scenario3Page.jsx
/src/components/BackButton.jsx
